<div class="my-cart">
    <div class="my-cart-header">
        <div>
            <h3>My Cart</h3>(<span class="js-cart-count">{{ totalQuantity }}</span> Item)
        </div>
        <span class="close">&times;</span>
    </div>
    <div class="my-cart-body">
        <div class="my-cart-items-wrapper">
            <ul>
                {{#each items}}
                    <li>
                        {{> cartItemRow.html }}
                    </li>
                    
                {{/each}}
            </ul>
      
            <div class="advt-div" {{#showEmptyCart}}class="d-block"{{/showEmptyCart}}>
                <img src="./static/images/lowest-price.png" alt="lowest price">
                <p>Your won't find it cheaper anywhere</p>
            </div>
        </div>
    </div>
    <div class="my-cart-footer">
        <p>Promo Code can be applied on payment page</p>
        <div class="checkout-div">
            <span class="checkout-txt">Proceed to checkout</span>
            <span class="js-cart-final cart-final-price">{{totalAmount}} </span> 
            <span class="cart-final-price ">Rs</span> 
        </div>
    </div>
</div>