<header>
    <div class="header-wrapper">
        <img src="./static/images/logo.png" alt="logo" class="logo">
        <div class="nav-wrapper">
            <nav class="nav-div">
                <ul class="nav-ul">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#products">Products</a>
                    </li>
                </ul>
            </nav>
            <div class="right-header-div">
                <div class="login-div">
                    <ul class="login-ul">
                        <li>
                            <a href="#login">Login</a>
                        </li>
                        <li>
                            <a href="#register">Register</a>
                        </li>
                    </ul>
                    <div class="cart-container">
                        <div class="cart-button cart-button-mob">
                            <a href="#cart">
                                <img src="./static/images/cart.svg" alt="cart image" class="cart-img">
                                <span class="cart-header-count js-cart-count" >{{cartCount}}</span>
                                <span class="cart-header-count"> Items</span>
                            </a>

                        </div>
                        <div class="cart-button cart-button-desk">
                            <img src="./static/images/cart.svg" alt="cart image" class="cart-img">
                            <span class="cart-header-count js-cart-count" >{{cartCount}}</span>
                            <span class="cart-header-count">Items</span>
                            <component comp-selector="app-cart"></component>
                        </div>
                        <div class="overlay">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="line-bottom">
</div>