<div class="plp-wrapper">
    <div class="plp-catg-wrapper">
        <ul>
            {{# each categories }}
            <li class="visible">
                <a href="/products/{{id}}">{{name}}</a>
                <i class="arrow down"> </i>
            </li>
            {{/each}}
        </ul>
    </div>
    <ul class="items-ul">
        {{# each products }}
        <li>
            <div class="plp-items-wrapper js-item-wrapper" data-item-id="5b6c6a7f01a7c38429530883">
                <div class="plp-box">
                    <h3>{{name}}</h3>
                    <div class="content">
                        <img src="{{imageURL}}" alt="{{name}}">
                        <p>
                            
                            {{description}}
                            <br>
                            <button class="js-add-item">Buy Now</button>
                        </p>
                    </div>
                    <div class="button js-add-item">
                        <span>MRP Rs {{price}}</span>
                        <button >Buy Now</button>
                    </div>
                    <div class="button-tbl">
                        <button class="js-add-item"><span>MRP Rs {{price}}</span>Buy Now</button>
                    </div>
                </div>
        </li>
        {{/each}}
    </ul>
</div>