<div class="signup-wrapper">
    <div class="left-signup">
        <h1>Signup</h1>
        <p>We do not share your personal details with anyone.</p>
    </div>
    <div class="right-signup">
        <form action="/">
            <div class="form-group">

                <input type="text" class="effect" />
                <label for="fname">First Name</label>
            </div>
            <div class="form-group">

                <input type="text" class="effect" />
                <label for="lname">Last Name</label>
            </div>
            <div class="form-group">

                <input type="email" class="effect" />
                <label for="email">Email</label>
            </div>
            <div class="form-group">

                <input type="password" class="effect" />
                <label for="password">Password</label>
            </div>
            <div class="form-group">

                <input type="password" class="effect" />
                <label for="password">Confirm Password</label>
            </div>
            <button class="login-btn">Signup</button>
        </form>
    </div>
</div>