@import '../../../static/variables.scss';
@import '../../../static/_mixins.scss';

.close{
    display: none;
}

.cart-wrapper{
    background: $color-background;
    overflow: hidden;
    .cart-header{
        margin-top: 2.5rem;
        background: white;
    }
    section{
        margin-top: 1.5rem;
        .cart-items{
            display: flex;
            flex-direction: column;
        }
    }
}

.cart-wrapper--modal{
    .cart-header{
        .close{
            display: inline-block;
        }
    }
}

.cart-item{
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem 2rem 1rem;
    background: white;
    img{
        height: 85px;
    }

    .item-info{
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 0.8rem;
        h2{
            font-size: 1.5rem;
            flex: 2;
            display: flex;
            align-items: center;
        }
        .item-controls{
            flex: 3;
            align-items: center;
            font-size: 1.3rem;
            display: flex;
            span,button{
                margin-right: 0.5rem;
                font-weight: 600;                
            }
           
            .btn--cart{
                padding:0.2rem 1rem;
                outline: none;
                border: 0px;
                background: $orangered;
                color:white;
                border: 0.5rem;
            }

            .mult{
                font-size: 2.5rem;
                position: relative;
                top: -0.4rem;
            }
            .item-tot-price{
              position: absolute;
              right: 2rem;
              font-weight: 700;
            }
        }
        
 }
    
}



.cart-header{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    h3{
        font-size: 2rem;
    }
    .cart-count{
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        position: relative;
        top: 0.2rem;
        margin-left: 0.4rem;   
        font-weight: 600;  
        span{
            margin-right:0.3rem;
        }
    }
    
}

.cart-advt{
    background: white;
    padding:1rem;
    display: flex;
    align-items: center;
    margin:1rem;
    display: none;
    img{
        width:10rem;
    }
    p{
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 400;
        color: black;
    }
}

.empty-div{
    @include flex-center();
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    background-color:white;    
    display: none;
    position: relative;
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
        margin:0px;
        padding: 0px;
    }
    a{
        @include button(1rem,$orangered,white);
        text-align: center;
        width: 100%;
        position: absolute;
        bottom:2rem;
        font-size: 1.4rem;
        text-transform: capitalize;
    }
}

.cart-footer{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    span{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }
    button{
        justify-content: center;
        align-items: center;
        @include button(0rem,$orangered,white);
        display: flex;
        .cart-final-price{
            margin-left: auto;
        }
    }
}


// .cart-img {
// 	width: 30px;
// 	color: red;
// }

// .my-cart {
// 	position: relative;
// 	height: 80vh;
// 	width: 400px;
// 	overflow: hidden;
// 	background: #efecec;
//     .my-cart-header {
//         background: black;
//         width: 100%;
//         height: 60px;
//         color: white;
//         position: relative;
//         .close {
//             float: right;
//             margin-right: 10px;
//             color: white;
//             top: 11px;
//             right: 15px;
//             font-size:35px;            
//             cursor:pointer;
//             position: absolute;
//         }
//         div {
//             h3 {
//                 display: inline-block;
//                 font-weight: bold;
//                 padding-top: 0px;
//                 margin-left: 10px;
//             }
//         }
//     }
//     .my-cart-footer {
//         width: 100%;
//         position: absolute;
//         left: 0px;
//         bottom: 0px;
//         color: white;
//         background: white;
//         color: black;
//         text-align: center;
//         .checkout-div{
//             width: 90%;
//             height: 40px;
//             padding:13px;
//             box-sizing: border-box;
//             background: $orangered;
//             text-align: center;
//             margin:10px auto;
//             color:white;
//             .checkout-txt{
//                 float:left;
//             }
//             .cart-final-price{
//                 float:right;
//             }
//         }
//     }
//     .my-cart-body{
//         .empty-cart{
//             text-align: center;
//             h3{
//                 font-weight: bold;
//                 font-size:24px;
//             }
//         }
//         .my-cart-items-wrapper {
//             overflow: hidden;
//             ul {
//                 list-style-type: none;
//                 margin:0;
//                 padding:0;
//                 max-height:350px;
//                 overflow: auto;
//                 .item{
//                     background: white;
//                     margin: 10px 0px;
//                     padding:8px;
//                     img{
//                         width:86px;
//                         float:left;
//                     }
//                     .right-cart{
//                         width: calc(100% - 90px);
//                         display: inline-block;
//                         .item-header{
//                             h2{
//                                 font-size:18px;
//                             }
//                         }
//                         .item-info{
//                             .item-control{
//                                 display: inline-block;
//                                 button,span{
//                                     display: inline-block;
//                                     margin:0px 3px;
//                                 }
//                                 button{
//                                     background: $orangered;
//                                     border: 0px;
//                                     border-radius: 50%;
//                                     color: white;
//                                 }
//                             }
//                             .item-final{
//                                 float:right;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         .advt-div.d-block{
//             display: block;
//         }
//         .advt-div{
//             background:white;
//             margin-top:10px;
//             margin-left:8px;
//             margin-right:8px;
//             height:60px;
//             font-size:14px;
//             padding:10px;
//             display: none;
//             img{
//                 display:inline-block;
//             }
//             p{
//                 display:inline-block;
//                 position: relative;
//                 top:-20px;
//             }
//         }

//     }
// }



// @media only screen and (max-width: 880px) {
//     .my-cart .my-cart-body .my-cart-items-wrapper ul .item .right-cart .item-info .item-control button{
//         padding: 5px 20px;
//         border-radius: 7px;
//     }

//     .my-cart{
//         width:100%;
//         .my-cart-header {
//             background:white;
//             color:black;
//             margin-top:20px;
//             margin-bottom:10px;
//         }
//         .item-info {
//             .item-control{
//                 button{
//                     background: #D00155;
//                     border: 0px;
//                     border-radius: 2px;
//                     padding: 2px 10px;
//                     color: white;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 680px) {
//     .my-cart-body{
//         .my-cart-items-wrapper {
//             font-size: 14px;
//         }
//     }
// }