@import '../../../static/variables.scss';
@import '../../../static/_mixins.scss';

.plp-wrapper{
    .container{
        display: flex;
    }
}
.js-add-item {
    cursor: pointer;
    span,button{
        cursor: pointer;
    }
}
aside.plp-catg-wrapper{
    flex: 3;
    display: flex;
    ul{
        flex: 1;
        background-color: $footer-background;
        li{
            padding: 2rem;
            margin-left:0.6rem;
            border-bottom:1px solid $light-gray;           
            a{
                font-size: 1.5rem;
                color:$light-gray;
                font-weight: 600;
            }
            &.visible a{
                color:$orangered;
            }
            .arrow.down{
                display: none;
            }
        }
    }
}

main.items-main{
    flex: 10;
    ul{
        display: flex;        
        flex-wrap: wrap;        
        li{
            flex:0 0 21%;
            margin:2%;
            overflow: hidden;
        }
    }
}

.plp-items-wrapper{
    display: flex;
    flex-direction: column;
    h3{
        height:30px;
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        flex: 1;       
        img{
            height: 18rem;
            padding: 2rem;
        } 
        p{
            font-size: 1.1rem;
            font-weight: 600;
            padding:0.2rem;
            text-align: left;
            justify-content: left;
            background-color: $color-background;
        }  
        button{
            display: none;
        }      
    }
    .button{
        display: flex;
        border:1px solid $color-border;
        span{
            flex: 1;  
            display: flex;
            justify-content: flex-start;
            align-items: center; 
            font-weight: 600;  
            margin-left: 1rem;       
        }
        button{
            flex: 1;
            @include button(1rem, $orangered, white);
        }
    }
    .button-tbl{
        display: none;
    }
}

@include tablet{
    main.items-main{
        ul{       
            li{
                margin: 2%;
                flex: 0 0 43%;
            }
        }
    }
    .plp-items-wrapper{
        .content{
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img{
                flex:1;
                height: 10rem;
                padding:0px;
            }
            p{
                flex: 1;
            }
        }
        .button{
            display: none;
        }
        .button-tbl{
            @include button(0.7rem, $orangered, white);            
            display: flex;
            color: white;
            justify-content: center;
            button{
                outline:none;
                background:transparent;
                border:0px;
                color:white;
                font-size: 1rem;
            }
            span{
                color:white;
                font-size: 1rem;
            }
        }
    }
}
@include mobile{
    .plp-wrapper{
        .container{
            flex-direction: column;
        }
    }
    main.items-main{
        ul{       
            li{
                margin: 0%;
                flex: 0 0 100%;
            }
        }
    }
    aside.plp-catg-wrapper{
        ul{           
            li{
                position: relative;
                margin-left: 0px;
                &.visible{
                    display: block;                    
                    background-color: $orangered;
                    a{
                        color:white;
                    }
                }
                &:not(.visible){
                    display: none;
                }
                .arrow.down{
                    display: inline-block;
                    position: absolute;
                    right: 20px;
                }
            }
        }
    }

    .plp-items-wrapper{
        .button-tbl{
            display: none;
        }
        .content{
            button{
                @include button(0.7rem, $orangered, white);  
                display: block;
                width: 100%;
                margin-top:2rem;
            }
        }
    }        
}