@import '../../../static/variables';
@import '../../../static/_mixins';

.plp-wrapper {
    .container {
        display: flex;
    }
}
.js-add-item {
    cursor: pointer;
    span,button {
        cursor: pointer;
    }
}
aside.plp-catg-wrapper {
    flex: 3;
    display: flex;
    ul {        
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: $footer-background;

        li {       
            border-bottom:1px solid $light-gray;     
            margin-left:0.6rem;
            padding: 2rem;             
            cursor: pointer;              

            a {
                font-size: 1.5rem;
                color:$light-gray;
                font-weight: 600;
            }

            &.visible a {
                color:$orangered;
            }

            .arrow.down {
                display: none;
            }
        }    

    }
}

main.items-main {
    flex: 10;

    ul {
        display: flex;        
        flex-wrap: wrap; 
              
        li {
            flex:0 0 21%;
            margin:2%;
            overflow: hidden;
        }
        
    }
}

.plp-items-wrapper {
    display: flex;
    flex-direction: column;

    h3 {
        height:40px;
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;     

        img {
            height: 18rem;
            padding: 2rem;
        } 

        p {
            font-size: 1.1rem;
            font-weight: 600;
            padding:0.2rem;
            text-align: left;
            justify-content: left;
            background-color: $color-background;
        }  

        button {
            display: none;
        }      
    }

    .button {
        display: flex;
        border:1px solid $color-border;

        span {
            flex: 1;  
            display: flex;
            justify-content: flex-start;
            align-items: center; 
            font-weight: 600;  
            margin-left: 1rem;       
        }

        button {
            flex: 1;
            @include button(1rem, $orangered, #ffffff);
        }

    }

    .button-tbl {
        display: none;
    }
}

@include tablet {
    main.items-main {

        ul {     

            li {
                margin: 2%;
                flex: 0 0 43%;
            }
        }
    }

    .plp-items-wrapper {

        .content {
            flex-direction: row;
            justify-content: center;
            align-items: center;

            img {
                flex:1;
                height: 10rem;
                padding:0px;
            }

            p {
                flex: 1;
            }
        }

        .button {
            display: none;
        }

        .button-tbl {
            @include button(0.7rem, $orangered, #ffffff);            
            display: flex;
            color: #ffffff;
            justify-content: center;

            button {
                outline:none;
                background:transparent;
                border:0px;
                color:#ffffff;
                font-size: 1rem;
            }

            span {
                color:#ffffff;
                font-size: 1rem;
            }
        }
    }
}
@include mobile {
    .plp-wrapper {

        .container {
            flex-direction: column;
        }
    }
    main.items-main {
        ul {       

            li {
                margin: 0%;
                flex: 0 0 100%;
            }
        }
    }
    aside.plp-catg-wrapper {
        ul {       
            margin-bottom: 2rem;   

            li {
                position: relative;
                margin-left: 0px;

                &.visible {                                        
                    background-color: $orangered;
                    display: block;

                    a {
                        color:#ffffff;
                    }
                }

                &:not(.visible) {
                    display: none;
                }

                .arrow.down {                   
                    position: absolute;
                    right: 20px;
                }
            }

            li.visible {

                .arrow.down {                       
                    display: inline-block;
                }
            }

            
        }


        ul.list-open {

            li {
                display: block;
            }

            li.visible {
                order: -1;
            }
        }
    }

    .plp-items-wrapper {
                
        box-sizing: border-box;
        padding: 1rem;

        .button-tbl {
            display: none;
        }

        .content {

            button {
                @include button(0.7rem, $orangered, #ffffff);  
                display: block;
                margin-top: 2rem;                
                width: 100%;
            }
        }
    }        
}