<img class="item-img" src="{{imageURL}}" alt="{{name}}">
<div class="item-info">
    <h2 tabindex="0">{{name}}</h2>
    <div class="item-controls">
        <button class="btn--cart js-remove-item" tabindex="0" role="button" aria-pressed="false">-</button>
        <span class="item-count js-item-count" tabindex="0">{{ quantity }}</span>
        <button class="btn--cart js-add-item" tabindex="0" role="button" aria-pressed="false">+</button>
        <span class="mult">&times;</span>
        <span>Rs{{price}}</span>
        <div class="item-tot-price">            
        Rs<span class="js-item-total">{{totalPrice}}</span>
        </div>
    </div>
</div>
<!-- <div class="item js-item-wrapper" data-item-id="{{id}}">
    <img src="{{imageURL}}" alt="{{name}}">
    <div class="right-cart">
        <div class="item-header">
            <h2>{{name}}</h2>
        </div>
        <div class="item-info">
            <div class="item-control">
                <button class="item-decr js-remove-item">-</button>
                <span class="item-count js-item-count">{{quantity}}</span>
                <button class="item-incr js-add-item">+</button>
                <span>&times;</span>
                <span>Rs</span>
                <span class="item-price">{{price}}</span>
            </div>
            <div class="item-final">
                <span>Rs</span>
                <span class="item-tot-price js-item-total">{{totalPrice}}</span>
            </div>
        </div>
    </div>
</div> -->