<header>
    <div class="container container--header">
        <a id="nav-logo" href="#home">
            <img src="./static/images/logo.png" alt="logo">
        </a>
        <nav class="nav-main nav-dropdown js-nav-dropdown">
            <a href="#home">Home</a>
            <a href="#products">Products</a>
            <div class="log-reg-wrapper">
                    <a href="#login">SignIn</a>
                    <a href="#register">Register</a>
            </div>
        </nav>
        <nav class="nav-cart">

            <div class="cart-icon cart-icon--desk">
                <div class="cursor" data-target="#dialog_cart">
                    <a href="#cart" class="cart-link">
                        <img src="./static/images/cart.svg" alt="cart image" class="cart-img">
                        <div class="cart-count">
                            <span class="js-cart-count">{{ cartCount }}</span>
                            <span> Items</span>
                        </div>
                    </a>
                </div>

                <div class="cart-wrapper--modal d-none" role="dialog" id="dialog_cart" aria-labelledby="dialog_cart"
                    aria-modal="true">
                    <component comp-selector="app-cart"></component>
                </div>
            </div>
        </nav>
        <nav class="nav-mobile">
            <div id="nav-icon" class="js-nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- <div class="nav-dropdown js-nav-dropdown">
                <a href="#home">Home</a>
                <a href="#products">Products</a>
                <a href="#login">SignIn</a>
                <a href="#register">Register</a>
            </div> -->
        </nav>
    </div>
</header>
<div class="line-bottom">
</div>