<div class="plp-wrapper">
    <div class="container">
        <aside class="plp-catg-wrapper">
            <ul class="list-open list--desk">
                {{# each categories }}
                {{#if enabled}}
                <li class="{{#active}}visible{{/active}}"  data-categ-id="{{id}}">
                    <a href="#products/{{id}}">{{name}}</a>
                    <i class="arrow down"> </i>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </aside>
        <main class="items-main">
            <ul class="js-items-ul">
                {{> product_items.html }}
            </ul>
        </main>
    </div>
</div>