<section class="category-wrapper">
    <div class="container category-content">
        {{# each categories}}
        {{#if enabled}}
        <div class="category-box" data-categ-id="{{id}}">
            <div class="img-wrapper">
                <img src="{{imageUrl}}" alt="{{name}}" class="category-img">
            </div>
            <div class="category-info">
                <h3>{{name}}</h3>
                <p>{{description}}</p>
                <button class="js-explore">Explore {{name}}</button>
            </div>
        </div>        
        {{/if}}
        {{/each}}
</section>