<main>
    <div class="container slider-wrapper">
        <div class="slider-content">
            {{# each banners}}
            <div class="image-wrapper">
                <img src="{{bannerImageUrl}}" alt="{{bannerImageAlt}}" class="active-image gallery-image" id="img1" />
            </div>
            {{/each}}
        </div>
        <div class="dots-wrapper">
            {{# each banners}}
            <span class="dot"></span>
            {{/each }}
        </div>
        <button class="btn-ctrl" id="prev">PREV</button>
        <button class="btn-ctrl" id="next">NEXT</button>        
    </div>
</main>