@import '../../../static/variables.scss';
.header-wrapper {
	padding-left: 60px;
    padding-right: 60px;
    .logo {
        width: 150px;
        float: left;
    }
    .nav-wrapper {
        float: right;
        width: 70%;
        .nav-div {
            width: 60%;
            float: left;
            .nav-ul {
                width: 100px;
                list-style: none;
                position: relative;
                top: 15px;
                li {
                    display: inline-block;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }

}


.cart-container {
	margin-top: 40px;
}
.cart-button {
	float: right;
	position: relative;
	left: 110px;
	background: #8080804f;
	padding: 5px;
	box-sizing: border-box;
}

.cart-button-mob{
    display: none;
}

.cart-button-desk{
    position: relative;
    z-index: 100;
}
.cart-button-desk .my-cart{
    display:none;
}

.cart-button-desk:hover .my-cart{
    position: absolute;
    right:0px;
    top:40px;
    display:block;
    z-index: 100;
}
.overlay{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    z-index: 70;
    background:rgba(0,0,0,0.3);
    display:none;
}
.cart-button-desk:hover + .overlay{
    display:block;
}
.cart-header-count {
	position: relative;
	top: -8px;
}

@media only screen and (max-width: 880px) {
    .cart-button-desk .my-cart{
        width: 400px;
    }
}

@media only screen and (max-width: 680px) {
    .cart-button-desk{
        display: none;
    }
    .cart-button-mob{
        display: block;
    }
	.nav-div {
		display: none;
	}
	.login-ul {
		display: none;
	}
	.cart-container {
		margin-top: 0px;
		position: absolute;
		top: 16px;
		right: 130px;
    }

}