@import '../../../static/variables.scss';
@import '../../../static/_mixins.scss';

header{
    margin-bottom:2px solid $color-background;
}

.container--header{
    display: flex;
    justify-content: space-between;
}

#nav-logo{
    display: flex;
    align-items: center;
    img{
        width: 15.5rem;
        height: auto;
        padding: 5px 0px;
    }
}

.nav-main{
    display: flex;
    flex: 1;
    align-items: flex-end;
    margin: 0px 0px 2rem 10%;
    a{
        &:link,&:visited{
            color: $light-gray;
            font-weight: 700;
            font-size:1.5rem;
        }
        &:first-child{
            margin-right: 3rem;
        }
    }
}

.nav-cart{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}

.log-reg-wrapper{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.8rem;
    a{
        font-size: 1.3rem;
        font-weight: 600;
        color: lighten(black,10%);       
        &:first-child{
            margin-right: 0.8rem;
        }
    }
}

.cart-icon--desk{
    cursor:pointer;
    position: relative;
    .cart-wrapper--modal{
        position: absolute;
        width: 50rem;
        right: 0px;
        z-index: 50;
        top: 5.5rem;
    }
}

.cart-icon{
    flex: 1;
    display: flex;
    a{
        flex:1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        width: 12rem;
        box-sizing: border-box;
        background-color: $color-background;
        img{
            width: 30px;            
        }
        .cart-count{
            font-size: 1.6rem;
            padding-left: 0.8rem;
        }
    }
}

.cart-icon--mob{
    display: none;   
}

@include mobile {
    .cart-icon--mob{
        display: flex;
    }
    .cart-icon--desk, .nav-main, .log-reg-wrapper{
        display: none;
    }
    #nav-logo{
        img{
            height: 5rem;
        }
    }
}