
$orangered:#D00155;
$gray:#8080804f;
.d-block{
    display: block;
}

i.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

a{
    text-decoration: none;
    color:black;
}


.header-wrapper {
	padding-left: 60px;
    padding-right: 60px;
    .logo {
        width: 150px;
        float: left;
    }
    .nav-wrapper {
        float: right;
        width: 70%;
        .nav-div {
            width: 60%;
            float: left;
            .nav-ul {
                width: 100px;
                list-style: none;
                position: relative;
                top: 15px;
                li {
                    display: inline-block;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }

}


.cart-img {
	width: 30px;
	color: red;
}

.login-ul {
	float: right;
	position: relative;
	top: -46px;
	li {
		float: left;
		list-style: none;
		margin-right: 10px;
		a {
			text-decoration: none;
			color: black;
		}
	}
}
.cart-container {
	margin-top: 40px;
}
.cart-button {
	float: right;
	position: relative;
	left: 110px;
	background: #8080804f;
	padding: 5px;
	box-sizing: border-box;
}

.cart-button-mob{
    display: none;
}

.cart-button-desk{
    position: relative;
    z-index: 100;
}
.cart-button-desk .my-cart{
    display:none;
}

.cart-button-desk:hover .my-cart{
    position: absolute;
    right:0px;
    top:40px;
    display:block;
    z-index: 100;
}
.overlay{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    z-index: 70;
    background:rgba(0,0,0,0.3);
    display:none;
}
.cart-button-desk:hover + .overlay{
    display:block;
}

.line-bottom {
	clear: both;
	width: 100%;
	height: 1px;
	background-color: $gray;
}
.cart-header-count {
	position: relative;
	top: -8px;
}



.top-slider-wrapper {
	margin: 0% 10%;
    position: relative;  
    .gallery-image {        
        display:inline-block;
    }
    .dots-wrapper {
        width: 30%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: -40px;
        .dots {
            width: 10px;
            height: 10px;
            background: rgba(0,0,0,0.5);
            display: inline-block;
            margin-right: 10px;
            border-radius: 100%;
            text-align: center;
        }
        .active-dot {
            background: black;
        }
    }
  
    .slider-controls-wrapper {
        position: absolute;
        top: 40%;
        width: 100%;
        .controls-content {
            position: relative;
            .slider-control {
                background: rgba(0,0,0,0.3);
                padding: 10px;
                border:0px;
                outline:none;
                color:white;
            }
            .slider-control:disabled{
                background: rgba(0,0,0,0.1);
                cursor:auto;
            }
            .slider-left {
                position: absolute;
                left: 0px;
                cursor: pointer;
            }
            .slider-right {
                position: absolute;
                right: 0px;
                cursor: pointer;
            }
        }
    }
}

.category-wrapper {
    padding: 0% 10%;
    .category-ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        .category-box {
            overflow: hidden;
            padding: 30px 0px;
            .category-img {
	            float: left;
	            width: 30%;
            }
            .catg-img-even {
                float: right;
            }
            .category-info {
                float: right;
                width: 70%;
                text-align: center;
                button {
                    color: white;
                    background: $orangered;
                    padding: 5px;
                    border: 0px;
                }
                h3 {
                    font-weight: 800;
                }
            }
            .info-even {
	            float: left;
            }
        }
    }
}
@mixin form-group() {
    padding: 20px 0px;
    display: flex;
    flex-direction: column-reverse;
    input {
        border: 0;
        outline: none;
        width: 100%;
        transition: all ease-in 0.3s;
        border-bottom: 1px solid black;
        &:focus {
            border: 0;
            border-bottom: 1px solid rgb(97, 210, 230);
        }
    }
   
    label {
        display: block;
        color:gray;
    }
    .effect:focus + label{
        position: relative;
        top:-5px;
        color: rgb(97, 210, 230);
    }
}



.shadow-bottom {
	box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.2);
	clear: both;
	width: 40%;
	margin: 0 auto;
}
footer {
	background: rgb(175, 169, 169);	
	margin-bottom: 0px;
	padding: 5px 0px;
	p {
		text-align: center;
	}
}

.login-wrapper {
	padding: 0% 15%;
	box-sizing: border-box;
	width: 100%;
	height: 200px;
    .left-login {
        width: 30%;
        float: left;
        margin-right: 10%;
    }
    .right-login {
        width: 50%;
        float: left;
    }
    .form-group{
        @include form-group()
    }
}
.signup-wrapper {
	padding: 0% 15%;
	box-sizing: border-box;
	width: 100%;
	height: 450px;
    .left-signup {
        width: 30%;
        float: left;
        margin-right:10%;
    }
    .right-signup {
        width: 50%;
        float: left;
    }
    .form-group{
        @include form-group()
    }
}



.login-btn {
	background: $orangered;
	padding: 10px 0px;
	color: white;
	width: 100%;
	border: 0px;
}

.my-cart {
	position: relative;
	height: 80vh;
	width: 400px;
	overflow: hidden;
	background: #efecec;
    .my-cart-header {
        background: black;
        width: 100%;
        height: 60px;
        color: white;
        position: relative;
        .close {
            float: right;
            margin-right: 10px;
            color: white;
            top: 11px;
            right: 15px;
            font-size:35px;            
            cursor:pointer;
            position: absolute;
        }
        div {
            h3 {
                display: inline-block;
                font-weight: bold;
                padding-top: 0px;
                margin-left: 10px;
            }
        }
    }
    .my-cart-footer {
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        color: white;
        background: white;
        color: black;
        text-align: center;
        .checkout-div{
            width: 90%;
            height: 40px;
            padding:13px;
            box-sizing: border-box;
            background: $orangered;
            text-align: center;
            margin:10px auto;
            color:white;
            .checkout-txt{
                float:left;
            }
            .cart-final-price{
                float:right;
            }
        }
    }
    .my-cart-body{
        .empty-cart{
            text-align: center;
            h3{
                font-weight: bold;
                font-size:24px;
            }
        }
        .my-cart-items-wrapper {
            overflow: hidden;
            ul {
                list-style-type: none;
                margin:0;
                padding:0;
                max-height:600px;
                overflow: auto;
                .item{
                    background: white;
                    margin: 10px 0px;
                    padding:8px;
                    img{
                        width:86px;
                        float:left;
                    }
                    .right-cart{
                        width: calc(100% - 90px);
                        display: inline-block;
                        .item-header{
                            h2{
                                font-size:18px;
                            }
                        }
                        .item-info{
                            .item-control{
                                display: inline-block;
                                button,span{
                                    display: inline-block;
                                    margin:0px 3px;
                                }
                                button{
                                    background: $orangered;
                                    border: 0px;
                                    border-radius: 50%;
                                    color: white;
                                }
                            }
                            .item-final{
                                float:right;
                            }
                        }
                    }
                }
            }
        }
        .advt-div.d-block{
            display: block;
        }
        .advt-div{
            background:white;
            margin-top:10px;
            margin-left:8px;
            margin-right:8px;
            height:60px;
            font-size:14px;
            padding:10px;
            display: none;
            img{
                display:inline-block;
            }
            p{
                display:inline-block;
                position: relative;
                top:-20px;
            }
        }

    }
}

.plp-wrapper{
    width:84%;
    margin:0 auto;
    background: $gray;
    .plp-catg-wrapper{
        width:25%;
        float:left;
        ul{
            list-style: none;
            padding:0px;
            margin:0px;
            li{
                border-bottom:1px solid black;
                padding:10px 22px;
                i.arrow{
                    display: none;
                }
                a{
                    color:black;
                    text-decoration: none;
                }
            }
            li.visible{
                background-color:$orangered;
                a{
                    color:white;
                }
            }
        }
    }
    .items-ul{
        margin:0px;
        background:white;
        padding:0px;
        overflow: hidden;
        list-style: none;
        width:75%;
        display: inline-block;
        li{       
            width: 25%;      
            list-style-type: none;
            box-sizing: border-box;
            float: left;
            padding:2%;
            margin-bottom:8px;
            .plp-items-wrapper{              
                .plp-box{
                    .content{
                        img{
                           width:100%;
                           display: block;
                        }
                        p{
                            width:100%;
                            display: block;
                            button{
                                display: none;
                            }
                        }
                    }
        
                    .button{
                        overflow:auto;
                        span{
                            width:44%;
                            font-size:12px;
                            display:inline-block;
                        }
                        button{                            
                            color:white;                            
                            font-size:12px;
                            background: $orangered;
                            border: 0px;
                            outline: none;
                            padding: 4px 10px;
                            width: 51%;
                            float:right;
                        }
                    }
                    .button-tbl{
                        display: none;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 880px) {
    .my-cart .my-cart-body .my-cart-items-wrapper ul .item .right-cart .item-info .item-control button{
        padding: 5px 20px;
        border-radius: 7px;
    }
    .cart-button-desk .my-cart{
        width: 400px;
    }
    .my-cart{
        width:100%;
        .my-cart-header {
            background:white;
            color:black;
            margin-top:20px;
            margin-bottom:10px;
        }
        .item-info {
            .item-control{
                button{
                    background: #D00155;
                    border: 0px;
                    border-radius: 2px;
                    padding: 2px 10px;
                    color: white;
                }
            }
        }
    }
    
    .plp-wrapper{
        width:100%;
        margin:0 auto;
        .plp-catg-wrapper{
            display: inline-block;
        }
       
        .items-ul{
            li{       
                width: 50%;      
                display: inline-block;
                box-sizing: border-box;
                overflow: hidden;
                .plp-items-wrapper{   
                    overflow: hidden;           
                    .plp-box{
                        overflow:hidden;                      
                        .content{
                            overflow:hidden;
                            img{
                               width:50%;
                               float:left;
                            }
                            p{
                                width:50%;
                                float:left;
                                button{
                                    display:none;
                                }
                            }
                        }
            
                        .button{
                            display: none;                          
                        }
                        .button-tbl{
                            display: block;
                            span{
                                margin-right: 4px;
                            }
                            button{                                
                                padding:5px 0px;
                                display: block;
                                color:white;
                                border:0px;
                                outline:none;
                                width:100%;
                                background:$orangered;
                                text-align: center;                         
                            }
                        }
                    }

                }
            }
        }
    
    }
}

@media only screen and (max-width: 680px) {
    .cart-button-desk{
        display: none;
    }
    .cart-button-mob{
        display: block;
    }
	.nav-div {
		display: none;
	}
	.login-ul {
		display: none;
	}
	.cart-container {
		margin-top: 0px;
		position: absolute;
		top: 16px;
		right: 130px;
    }
    .my-cart-body{
        .my-cart-items-wrapper {
            font-size: 14px;
        }
    }
    .top-slider-wrapper .dots-wrapper {
        width: 49%;
        top: -8px;
    }
   
    .category-wrapper{
        margin-bottom: 30px;
        .category-ul .category-box {
            .category-img{
                width: 50%;
                margin-top: 45px;
            }
            .category-info {
                width: 50%;
                font-size:14px;
            }
        }
    }
    
  
    .plp-wrapper{
        width:100%;
        margin:0 auto;        
        .plp-catg-wrapper{
            width:100%;
            color:white;
            display: inline-block;
            ul{
                li{
                    position: relative;
                    a{
                        color:black;
                    }
                    i.arrow{
                        display: inline-block;
                        position: absolute;
                        right:15px;
                        top:12px;
                    }
                }
                li.visible{
                    background: $orangered;
                    a{
                        color:white;
                    }
                }

                li:not(.visible){
                    display: none;
                }
            }
        }
        .items-ul{
            width:100%;
            li{       
                width: 100%;      
                display: inline-block;
                box-sizing: border-box;
                overflow: hidden;
                .plp-items-wrapper{   
                    overflow: hidden;           
                    .plp-box{
                        overflow:hidden;                        
                        .content{
                            overflow:hidden;
                            position: relative;
                            img{
                               width:50%;
                               float:left;
                            }
                            p{
                                width:50%;
                                font-size: 13px;
                                float:left;
                                button{
                                    font-size: 18px;
                                    position: absolute;
                                    bottom: 0px;
                                    width: 50%;
                                    background: $orangered;
                                    color: white;
                                    padding: 5px 0px;
                                    outline: none;
                                    border: 0px;
                                    display:block;
                                }
                            }
                        }
            
                        .button{
                            display: none;                          
                        }

                        .button-tbl{
                            display: none;
                        }
                    }
                }
            }
        }    
    }
}
