@import '../../../static/variables';
.toaster-wrapper {
    position: fixed;
    bottom: 0rem;
    transform: translateY(100%);
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    transition:transform ease-in-out 0.6s;

    &.show {
        transform: translateY(-30%);
    }

    .toaster-content {
        display: inline-block;
        padding:0.5rem 7rem;               
        margin: 0 auto;
        min-width: 4rem;

        p {
            margin:0.5rem;
            font-size:1.5rem;
        }
    }    
}