<div class="plp-wrapper">
    <div class="container">
        <aside class="plp-catg-wrapper">
            <ul class="list--desk js-aside-categ">
                <li data-categ-id="" class="all js-all {{#allSelected}}visible{{/allSelected}}">
                    <a href="#products">All</a>
                </li>
                {{# each categories }}
                {{#if enabled}}               
                <li class="{{#active}}visible{{/active}}"  data-categ-id="{{id}}">
                    <a href="#products/{{id}}">{{name}}</a>
                </li>
                {{/if}}
                <i class="arrow down"></i>
                {{/each}}
            </ul>
        </aside>
        <main class="items-main">
            <ul class="js-items-ul">
                {{> product_items.html }}
            </ul>
        </main>
    </div>
</div>