@import '../../../static/variables.scss';
@import '../../../static/form_mixin.scss';

.login-ul {
	float: right;
	position: relative;
	top: -46px;
	li {
		float: left;
		list-style: none;
		margin-right: 10px;
		a {
			text-decoration: none;
			color: black;
		}
	}
}

.login-wrapper {
	padding: 0% 15%;
	box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    margin-bottom:30px;
    .left-login {
        width: 30%;
        float: left;
        margin-right: 10%;
    }
    .right-login {
        width: 50%;
        float: left;
    }
    .form-group{
        @include form-group()
    }
}

.login-btn {
	background: $orangered;
	padding: 10px 0px;
	color: white;
	width: 100%;
	border: 0px;
}